<div>
  <p [ngClass]="{highlighted: shouldHighlight}">This is a higlighted text by using ng class build in directive</p>
  <p [ngClass]="classesObject">This highlight is done in component</p>
  <p [ngStyle]="{fontSize:'24px',backgroundColor:'lightgreen'}">This is styled using the ng Style</p>
  <p [ngStyle]="styledOfp">This styling is done in component</p>
  <p appHighlight>This para is styled using a custom directive</p>
  <p appHover clickColor="orange">This para is styled usign the custom directive just hover on me or you can even click!!</p>
  <p ngNonBindable>This para has a direvitce name as nonBindable {{1+1}}</p>
  <ng-template [ngIf]="true">
  <p>Now this content is conditionally rendered using the ng template</p>
  </ng-template>
  <ng-template *ngIf="true then renderIt">
    
  </ng-template>
  <ng-template #renderIt>I am renderd using the *ngIF but should not follow this method</ng-template>
  <ng-container>
    <p>I will render no matter what</p>
  </ng-container>
  <ng-container *ngTemplateOutlet="repeatedText"></ng-container>
  <ng-template #repeatedText>
    I am projected using the *ngTemplateOutlet
  </ng-template>
  
</div>